.nada {
    box-sizing: border-box;
    vertical-align: middle; /*Determina la alineación vertical de los contenidos de un elemento*/
    line-height: normal; /*Permite establecer la altura de línea de los elementos*/
    box-shadow: azure;
    text-decoration: none;
    text-transform: capitalize;
    text-indent: 1em; /*Tabula desde la izquierda la primera línea del texto original*/
    letter-spacing: .2em; /*Permite establecer el espacio entre las letras que forman las palabras del texto*/
    word-spacing: .4em; /*Permite establecer el espacio entre las palabras que forman el texto*/
    white-space: normal; /*Establece el tratamiento de los espacios en blanco del texto*/
}
/* Pseudo-elementos css  :first-line, :first-letter */
/* Pseudo-clases css :link, :visited, :hover, :active | :focus */
/* :nth-child(odd) or (even) or numero (2)  || :first-child or :last-child */

body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    margin-right: 1.5em;
}

.header-title {
    font-size: 1.5rem;
    margin: auto 1em;
    display: inline-block;
}

.header-form {
    display: inline-block;
}

.header-search {
    width: 250px;
    padding: .4em;
    border: none;
    border-radius: 3px;
}

.header__img {
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.header-nav {

}

.header__btn-add, .header__btn-projects {
    background: transparent;
    border: none;
    cursor: pointer;
}

.list {
    list-style-type: none;
    margin: auto 2.5em;
    padding: 0;
}

.header-nav-list {
    display: inline-block;
    border: 1px solid;
    text-align: center;
}

.header-nav-list-link {
    font-size: 1rem;
    display: inline-block;
    padding: .5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    transition: 1s;
}

.wrapper {
    border: 1px solid red;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.footer-section {
    background: aqua;
    text-align: center;
    font-size: 1rem;
}

.footer-section__list {
    padding: 1em;
}

.footer-section__list-item {
    display: inline-block;
    margin: 1em;
}

@media screen and (min-width: 500px) {
    .header {
        background-color: aqua;
    }
}