@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

:root {
    --font-size-main: 10px;
    --font-size-extra-small: .7rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-extra-large: 2.5rem;

    --margin-list: auto 2em;
    --margin-orizontal-center: 0 auto;
    --margin-title-section: .3em 0;
    --margin-normal: 1em;
    --margin-middle: .8em;
    --margin-small: .5em;
    --margin-extra-small: .3em;
    --margin-movile: 0 .5em;
    --margin-normal-box: 1em .5em;
    
    --padding-none: 0;
    --padding-extra-small: .5em;
    --padding-small: .7em;
    --padding-normal: 1em;
    --padding-large: 2em;
    --padding-extra-large: 3em;
    --padding-normal-box: .5em 1em;

    --font-family-main: 'Fredoka One', cursive;
    --font-family-logo: 'Times New Roman', Times, serif;
    --font-family-alternative: cursive;
    --bg-color-first: #000;
    --bg-color-second: #C14744;
    --bg-color-third: #FFF;
    --bg-color-quarter: #ffc600;

    --bg-color-shadow-quarter: #F3C010;
    --border-color-input: #99B0F0;
    --border-color-imput-focus: #4D78F0;    
    --bg-color-input: rgba(160, 150, 150, 0.2);
    --bg-color-popup: #1E8449;

    --screen-extra-small: 480px;
    --screen-small:       620px;
    --screen-medium:      768px;
    --screen-large:       1024px;
    --screen-extra-large: 1280px;
}
