.svg {
    display: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-plus {
    width: 1.5em;
    height: 1.5em;
}

.icon-stack, .icon-menu, .icon-search, .icon-cross {
    width: 2em;
    height: 2em;
}

.icon-enter, .icon-cancel-circle {
    vertical-align: middle;
    margin-right: .1em;
}

.icon-key2 {
    width: 4em;
    height: 4em;
}